%article.idea
  =link_to idea_path(idea.id) do
    %div
      %h2= idea.title
      von #{idea.user.display_name} am
      %time{datetime: idea.created_at.strftime('%Y-%m-%dT%H:%M:%S%z')}= l(idea.created_at)
      %p= idea.description