%section.container
  %h1 Ideen

  - @ideas.each do |idea|
    %div.idea-container
      =link_to idea_path(idea.id) do
        %h2= idea.title
        von #{idea.user.display_name} am #{l(idea.created_at)}
        %p
          = idea.summary

  %p
    =link_to 'Neue Idee', new_idea_path
