%h1 Listing ditos

%table
  %tr
    %th
    %th
    %th

  - @ditos.each do |dito|
    %tr
      %td= link_to 'Show', dito
      %td= link_to 'Edit', edit_dito_path(dito)
      %td= link_to 'Destroy', dito, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dito', new_dito_path
