= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= t('users.edit.errors.title', count: pluralize(@user.errors.count, 'error'))

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit
