= link_to challenge_path(challenge.id) do
  %article.challenge
    .question-icon
      .icon-question
    .text
      = challenge.question
      .ditos
        = t('.ditos_count', count: challenge.dito)
    .icon-chevron-right
    -##{challenge.user.display_name}
    -#= time challenge.created_at, class: :timeago
    -#%p= challenge.description
