// Imports
// ---------------------------------------------------------------------------

@import "susy";

// Basic Grid
// ---------------------------------------------------------------------------

$total-columns  : 18;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$container-width: 100%;

$show-grid-backgrounds  : true;

// Basic Grid
// ---------------------------------------------------------------------------

.container {
  @include container;
  @include susy-grid-background;
}