/* Forms */
/* -------------------------------------------------------------------------*/

form.simple_form {
  margin: 20px;
  input, textarea, .button {
    @include embossed-style;
    @include span-columns(18);
    text-indent: 10px;
    padding: 10px 0;
    margin: 5px 0;
  }

  .green-button, .red-button {
    height: 40px;
  }

  textarea {
    resize: none;
  }
}

form.simple_form.user {
  input, .button {
    text-indent: 30px;
    margin-bottom: 5px;
  }
}

button, .button {
  height: 40px;
  @include span-columns(18);
}

a.button {
  padding: 0 !important;
  text-align: center;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}