/* Forms */
/* -------------------------------------------------------------------------*/

form.simple_form {
	padding: 20px;

	input {
		@include embossed-style;
		@include span-columns(12);
		text-indent: 10px;
		padding: 10px 0;
	}
}

form.simple_form.user {
	input {
		text-indent: 30px;
		margin-bottom: 5px;
	}
}