/* Forms */
/* -------------------------------------------------------------------------*/

form.simple_form {
	margin: 20px;
	input, textarea {
		@include embossed-style;
		@include span-columns(12);
		text-indent: 10px;
		padding: 10px 0;
		margin: 5px 0;
	}

	textarea {
		resize: none;
	}
}

form.simple_form.user {
	input {
		text-indent: 30px;
		margin-bottom: 5px;
	}
}