/* General */
/* -------------------------------------------------------------------------*/

body {
	@include global-typo;
	//@include filter-gradient($lightgreen, $darkgreen, vertical);
	//@include background(image-url('texture.png') 0 0 repeat);
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
	margin: 10px 0;
}

p {
  margin: 10px 0;
}

a {
  @include hover-link;
  @include link-colors(black, $darkgreen, $lightgreen, black, $darkgreen);
}

form {
  label {
    display: none;
  }
}

.clear {
	clear: both;
}
