/* Color */
/* -------------------------------------------------------------------------*/

$lightgreen: rgb(166, 255, 90);
$darkgreen: rgb(103, 158, 56);
$darkblue: rgb(165, 179, 198);
$lightblue: rgb(218, 233, 252);

/* Mixins */
/* -------------------------------------------------------------------------*/

@mixin embossed-typo {
	@include text-shadow(0px 1px 0px rgba(white, 0.5));
}

@mixin embossed-style {
  border: none;
  @include border-radius(5px);
  @include box-shadow(inset 0px 1px 1px rgba(100, 100, 100, 1), 0px 1px 1px rgba(white, 1));
}

@mixin global-typo {
  font-size: $blueprint-font-size;
  font-family: $blueprint-font-family;
}

/* Styles */
/* -------------------------------------------------------------------------*/

.green-button {
  @include border-radius(4px);
  @include embossed-style;
  border: none;

  /* background */
  background-color: $lightgreen;
  @include filter-gradient($lightgreen, $darkgreen, vertical);
  @include background(linear-gradient(top, $lightgreen 0%, $darkgreen 100%));

	/* typo */
	color: #333;
	@include embossed-typo;
  font-size: 100%;
}