// Imports
// ---------------------------------------------------------------------------

@import "compass";
@import "compass/utilities";
@import "compass/css3";
@import "globals";

/* Landing Page */
/* -------------------------------------------------------------------------*/

body {
	height: 100%;
	@include filter-gradient($lightgreen, $darkgreen, vertical);
	@include background(image-url('texture.png') 0 0 repeat);
}

.gradient {
	position: absolute;
	width: 100%;
	min-height: 100%;
	@include background(linear-gradient(top, rgba(lightblue, 0.3) 0%, rgba($darkblue, 0.7) 100%));
}

.logo {
	@include filter-gradient($lightgreen, $darkgreen, vertical);
	@include background(
		image-url('logo.png') no-repeat center,
		radial-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 75%)
	);
	height: 300px;
	max-width: 300px;
	margin: 0 auto;
	background-size: contain;
}

.login {
	width: 300px;
	margin: 0 auto;

	i.icon-key, i.icon-user {
		position: relative;
		top: 12px;
		left: 8px;
		height: 0px;
	}

	#login-button {
		width: 260px;
		height: 40px;
		float: right;
	}
}

i {
	font-size: 15px;
	float: left;
	color: #999;
	@include embossed-typo;
}