#social-boxes
  display: -webkit-box
  display: -moz-box
  display: -ms-box
  display: box
  -webkit-box-orient: horizontal
  -moz-box-orient: horizontal
  -ms-box-orient: horizontal
  box-orient: horizontal
  width: 100%

.social-box
  -webkit-box-flex: 1
  -moz-box-flex: 1
  -ms-box-flex: 1
  box-flex: 1
  margin: 10px
  padding: 2px
  height: 100px
  border: 1px solid #ededed

  &:first-child
    margin-left: 0
