@import 'mixin.css.sass'
@import 'tags.css.sass'

.header
  padding: 7px 20px
  background: url('notepad.png') repeat
  box-shadow: 0 1px 0 white, 0 0 10px rgba(0, 0, 0, 0.3) inset
  color: white

  .question
    text-shadow: 0 -1px 0 rgba(black, 0.7)
    font-size: 1.2em
    padding-bottom: 10px

  .count-ditos
    background: rgba(130, 210, 0, 0.7)
    border-radius: 10px
    padding: 0 5px 0px 5px
    font-size: 0.6em
    text-shadow: none
    margin: 0px 5px
    position: relative
    top: -2px

  .timer
    font-size: 0.7em
    text-align: center
    float: right
    padding: 2px 5px
    background: rgba(30, 30, 30, 0.4)
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset
    margin: 5px 0px 5px 10px
    border: 1px solid rgba(100, 100, 100, 0.1)
    border-radius: 5px

    .elements
      display: inline-block

    .value
      font-size: 16px
      color: rgba(170, 255, 0, 0.5)

    .key
      font-size: 10px
      color: rgba(200, 200, 200, 0.5)

  .user-name
    margin-left: 80px

  .avatar
    width: 70px
    border-radius: 40px
    height: 70px
    border: 2px solid white
    box-shadow: 0px 0px 4px rgb(100, 100, 100)
    position: relative
    left: 0
    top: -20px
    float: left
    margin-right: 6px

.meta
  font-size: 0.8em

#list
  background: none

#main-content
  margin: 0 10% 20px 56px
  padding: 0

#challenge
  padding: 5px 0px 20px 30px
  border-left: 2px solid rgba(100, 100, 100, 0.2)
  margin: 0 10% 0 56px

.inspiration
  padding: 5px 0px 13px 30px
  border-left: 2px solid rgba(100, 100, 100, 0.2)
  margin: 0 10% 0 56px

  .contributors
    width: 40px
    border-radius: 21px
    height: 40px
    border: 1px solid white
    box-shadow: 0px 0px 4px rgb(100, 100, 100)
    position: relative
    left: -52px

  .inspiration-user-name
    font-size: 0.9em
    display: inline
    position: relative
    left: -46px
    top: -25px

  .inspiration-description
    font-size: 13px
    line-height: 1.95
    position: relative
    top: -23px
    border: 1px solid rgba(200, 200, 220, 1)
    padding: 4px 10px
    border-radius: 4px
    background: rgba(200, 200, 220, 0.3)
    box-shadow: 0px 1px 0px white, 0px 0px 4px rgba(100, 100, 100, 0.2) inset

.tags
  margin-left: 15px
  position: relative
  top: 19px

  ul
    padding: 0
    margin: 0

    li
      display: inline
      font-size: 0.7em
      margin: 0px 3px
      border: 1px solid gainsboro
      border-radius: 8px
      line-height: 2.1
      padding: 0px 7px
      box-shadow: 0px 1px 0px white
      text-shadow: 0px 1px 0px white
      @include linear-gradient(rgb(240, 240, 240), rgb(230, 230, 230))

      &:hover, &:focus, &:active
        @include linear-gradient(rgba(170, 255, 50, 0.5), rgba(130, 210, 0, 0.5))

.description
  font-size: 13px
  margin: 49px 0px 18px 0px
  line-height: 1.95

  &:before
    content: open-quote

  &:after
    content: close-quote

.new-inspiration
  float: left
  height: 30px
  width: 30px
  border-radius: 20px
  text-align: center
  line-height: 2.5
  border: 2px solid white
  box-shadow: 0px 0px 4px rgba(black, 0.3)
  position: relative
  left: -16px
  color: white
  text-shadow: 0px -1px 0px rgba(black, 0.3)
  @include linear-gradient(rgb(130, 210, 0), rgb(110, 190, 0))

.btn.new-inspiration-button
  margin: 4px 0

article.challenge
  border-bottom: 1px solid rgb(170, 170, 170)
  box-shadow: 0px 1px 0px white
  @include linear-gradient(rgba(white, 0.5), rgba(white, 0))
  padding: 20px 0
  position: relative
  cursor: pointer

  &:hover, &:active, &:focus
    background: rgba(white, 0.7)

  .question-icon
    left: 10px
    height: 30px
    width: 30px
    border-radius: 20px
    font-size: 1.5em
    line-height: 1.6
    @include linear-gradient(rgb(130, 210, 0), rgb(110, 190, 0))
    position: absolute
    margin-top: -15px
    top: 50%

  .text
    text-shadow: 0px 1px white
    margin: 0 60px

  .ditos
    padding: 2px 5px
    text-align: center
    background: rgba(130, 210, 0, 0.5)
    border-radius: 10px
    color: rgb(50, 50, 50)
    font-size: 0.85em
    margin: 5px 0
    display: block

  .icon-chevron-right
    font-size: 20px
    position: absolute
    top: 50%
    margin-top: -10px
    right: 10px
    color: rgba(100, 100, 100, 0.5)
    text-shadow: 0px 1px white

span.error
  display: none
