@import 'tags.css.sass'

.header
  padding: 10px 20px
  background: url('notepad.png') repeat
  box-shadow: 0px 1px 0px white, 0px 0px 10px rgba(0, 0, 0, 0.3) inset
  color: white

  .question
    text-shadow: 0px -1px 0px rgba(black, 0.7)
    font-size: 1.2em
    padding-bottom: 10px

  .count-ditos
    background: rgba(130, 210, 0, 0.7)
    border-radius: 10px
    padding: 0px 5px 0px 5px
    font-size: 0.8em
    text-shadow: none
    margin: 0 5px

  .user-name
    margin-left: 80px
    font-size: 0.8em

  .avatar
    width: 70px
    border-radius: 40px
    height: 70px
    border: 2px solid rgba(255, 255, 255, 0.9)
    box-shadow: 0px 1px 0px white
    position: relative
    left: 0px
    top: -20px
    float: left

#main
  background: url('linedpaper.png') repeat

.challenge
  margin: 10px 0
  border: 1px solid rgb(170, 170, 170)

  a
    display: block
    width: 100%
    height: 100%
    color: inherit
    text-decoration: none

  div
    margin: 10px

  &:hover, &:active
    background: rgba(0, 0, 0, 0.1)
