@import 'mixin.css.sass'
@import 'tags.css.sass'

.header
  padding: 10px 20px
  background: url('notepad.png') repeat
  box-shadow: 0 1px 0 white, 0 0 10px rgba(0, 0, 0, 0.3) inset
  color: white

  .question
    text-shadow: 0 -1px 0 rgba(black, 0.7)
    font-size: 1.4em
    padding-bottom: 10px

  .count-ditos
    background: rgba(130, 210, 0, 0.7)
    border-radius: 10px
    padding: 0 6px 1px 6px
    font-size: 0.8em
    text-shadow: none
    margin: 0 2px
    position: relative
    top: -2px
    font-size: 0.8em

  .timer
    font-size: 0.7em
    text-align: center
    float: right
    padding: 2px 5px
    background: rgba(30, 30, 30, 0.4)
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset
    border: 1px solid rgba(100, 100, 100, 0.1)
    border-radius: 5px
    margin-left: 15px

    .elements
      display: inline-block

    .value
      font-size: 16px
      color: rgba(170, 255, 0, 0.5)

    .key
      font-size: 10px
      color: rgba(200, 200, 200, 0.5)

  .user-name
    margin-left: 80px

  .avatar
    width: 70px
    height: 70px
    border: 2px solid white
    box-shadow: 0 0 4px rgb(100, 100, 100)
    position: relative
    left: 0
    top: -20px
    float: left
    margin-right: 6px

#list
  background: none

#new-inspiration-button
  margin: 0 10% 20px 56px
  padding: 0

#challenge
  padding: 0 0 24px 42px
  border-left: 2px solid rgba(100, 100, 100, 0.2)
  margin: 0 10% 0 56px

.inspiration
  padding: 5px 0 13px 30px
  border-left: 2px solid rgba(100, 100, 100, 0.2)
  margin: 0 10% 0 56px

  .likes
    float: right
    text-shadow: 0 1px white

    .icon-heart
      color: rgb(220, 100, 90)

  .contributors
    display: inline-block
    width: 40px
    border-radius: 21px
    height: 40px
    border: 1px solid white
    box-shadow: 0 0 4px rgb(100, 100, 100)
    position: relative
    left: -52px
    display: inline-block

  .inspiration-user-name
    font-size: 0.9em
    display: inline
    position: relative
    left: -46px
    top: -25px
    text-shadow: 0 1px white

  .inspiration-description
    line-height: 1.95
    position: relative
    top: -23px
    border: 1px solid rgb(200, 200, 220)
    padding: 4px 10px
    border-radius: 4px
    background: rgba(200, 200, 220, 0.3)
    box-shadow: 0 1px 0 white, 0 0 4px rgba(100, 100, 100, 0.2) inset

    a
      display: block

.tags
  margin: 22px 0 30px 15px

  ul
    padding: 0

    li
      display: inline
      font-size: 0.9em
      margin: 0 3px
      border: 1px solid gainsboro
      border-radius: 10px
      line-height: 2.1
      padding: 0 7px
      box-shadow: 0 1px 0 white
      text-shadow: 0 1px 0 white
      @include linear-gradient(rgb(240, 240, 240), rgb(230, 230, 230))

      &:hover, &:focus, &:active
        @include linear-gradient(rgba(170, 255, 50, 0.5), rgba(130, 210, 0, 0.5))

.description
  line-height: 1.95
  margin-top: 25px

.buttons
  margin: 18px 0

  .btn
    margin: 5px 0

.btn.new-inspiration-button
  margin: 2px 0

.new-inspiration
  float: left
  height: 30px
  width: 30px
  border-radius: 20px
  text-align: center
  line-height: 2.5
  border: 2px solid white
  box-shadow: 0 0 4px rgba(black, 0.3)
  position: relative
  left: -16px
  color: white
  text-shadow: 0 -1px 0 rgba(black, 0.3)
  @include linear-gradient(rgb(130, 210, 0), rgb(110, 190, 0))

article.challenge
  border-bottom: 1px solid rgb(170, 170, 170)
  box-shadow: 0 1px 0 white
  @include linear-gradient(rgba(white, 0.5), rgba(white, 0))
  padding: 10px 0
  position: relative
  cursor: pointer

  &:hover, &:active, &:focus
    background: rgba(white, 0.7)

  .speech-bubble
    position: relative
    background: white
    border: 1px solid rgba(black, 0.3)
    margin: 0 10px 5px 75px
    border-radius: 4px
    padding: 5px 10px 5px 10px
    box-shadow: 0 1px white

    &:after, &:before
      right: 100%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none

    &:after
      border-color: rgba(255, 255, 255, 0)
      border-right-color: #fff
      border-width: 5px
      top: 50%
      margin-top: -5px
      color: white

    &:before
      border-color: rgba(0, 0, 0, 0)
      border-right-color: #B3B3B3
      border-width: 6px
      top: 50%
      margin-top: -6px
      color: #B3B3B3

  .user-avatar
    width: 50px
    height: 50px
    margin-left: 10px
    border-radius: 4px
    float: left
    border: 1px solid rgba(black, 0.3)
    box-shadow: 0 1px 0 white

  .text
    text-shadow: 0 1px white
    margin: 0 40px 0 10px

    .user
      margin-left: 10px
      margin-bottom: 5px
      font-size: 0.9em

    .ditos, .inspirations
      padding: 2px 8px
      text-align: center
      border-radius: 10px
      color: rgb(50, 50, 50)
      font-size: 0.85em
      margin: 5px 0
      display: inline-block

    .ditos
      margin-left: 10px
      background: rgba(130, 210, 0, 0.5)

    .inspirations
      background: rgba(180, 180, 200, 0.5)

  .icon-chevron-right
    font-size: 20px
    position: absolute
    top: 50%
    margin-top: -10px
    right: 10px
    color: rgba(100, 100, 100, 0.5)
    text-shadow: 0 1px white

.icon-heart
  cursor: default

span.error
  display: none
