// COLOR VARIABLES

$lightgreen: rgb(173, 255, 50)

$Blightgreen: rgb(130, 217, 0)
$Bdarkgreen: rgb(115, 191, 0)

$Hlightgreen: rgb(130, 255, 0)
$Hdarkgreen: rgb(115, 200, 0)

$darkgrey: rgb(32, 34, 34)
$white: rgb(250, 250, 250)
