@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400')
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz')
@import 'mixin.css.sass'
@import 'colors.css.sass'

/* GENERAL */

body
  margin: 0
  background: url('noise.png') repeat
  font-family: 'Open Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif
  -webkit-font-smoothing: antialiased
  color: $darkgrey
  font-size: 0.75em

ul
  list-style: none

i[class^='icon-']
  cursor: default

a
  color: inherit
  text-decoration: none

  &:visited, &:active, &:focus, &:hover
    color: inherit

  i[class^='icon-']
    cursor: pointer

a.btn
  text-decoration: none
  color: white

.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: ' '
  clear: both
  height: 0

input.styled_input, textarea.styled_input
  width: 100%
  margin: 5px 0
  padding: 10px
  border-radius: 2px
  border: none
  box-shadow: 0 -1px 1px rgba($darkgrey, 0.5)
  font-family: 'Open Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif
  font-size: 12px

input.styled_input
  height: 20px

textarea.styled_input
  height: 120px
  resize: none

.noty_message
  a
    color: inherit
    text-decoration: none
    border-bottom: 1px dotted rgb(130, 98, 0)

    &:hover
      color: rgb(77, 62, 15)
      border-bottom: 1px dotted rgb(77, 62, 15)

/* LAYOUT */

#top-bar
  position: fixed
  width: 100%
  height: 40px
  border-top: 2px solid $lightgreen
  z-index: 11000
  background: url('notepad.png') repeat

  #logo
    font-family: 'Yanone Kaffeesatz', 'sans-serif'
    font-size: 20px
    color: $lightgreen
    position: absolute
    z-index: 2
    top: 8px
    left: 40px
    width: 100px
    transition: text-shadow 0.3s linear

    &:hover
      text-shadow: 0 0 15px rgba($lightgreen, 0.8)

    a
      color: $lightgreen
      text-decoration: none

.title
  margin: 0
  padding: 10px
  text-align: center
  background: $lightgreen
  @include linear-gradient($lightgreen, $Blightgreen)
  color: rgb(255, 255, 255)
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2)
  font-size: 1.3em
  position: relative

#main
  position: absolute
  top: 42px
  width: 100%
  overflow: hidden
  background: url('noise.png') repeat

  #main-content
    padding: 20px 0
    margin: 0 10%

  #list
    margin: 0

.loading-overlay
  display: block
  position: absolute
  z-index: 10000
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .75)

#loading-spinner
  position: absolute
  background: url('loading-spinner.gif') no-repeat
  z-index: 11000
  display: none
  width: 48px
  height: 48px
  top: 50%
  left: 50%
  margin-top: -32px
  margin-left: -32px

#profile-link
  color: inherit
  font-size: 0.8em

/* OFF CANVAS */

[role='main']:before, [role='main']:after
  content: ' '
  position: absolute
  top: 0
  left: -100%
  z-index: -1
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .2)

[role='main']:after
  left: 100%
  background: rgba(0, 0, 0, .1)

[role='main'], [role='navigation']
  position: relative
  display: block
  width: 100%
  transform: translate3d(0,0,0)
  transition: 1s transform ease

.js [role='main']
  position: relative
  z-index: 1
  float: left
  margin-left: 0
  box-shadow: 0 -2px 6px 2px rgb(165, 165, 165)

[role='navigation']
  display: none

.js [role='navigation']
  display: block
  z-index: 2
  float: left
  margin-right: -200%

.no-js
  .off-canvas-navigation
    li.back-item
      display: block

.active-sidebar [role='main']
  transform: translate3d(-75%, 0, 0)

.active-sidebar [role='navigation']
  transform: translate3d(-75%, 0, 0)

.off-canvas-navigation
  position: absolute
  top: 4px
  z-index: 1
  display: block
  width: 100%
  overflow: hidden
  color: rgb(255, 255, 255)
  font-size: 1.3em

  ul
    margin: 0
    padding: 0

    li
      float: right
      padding: 5px

      a
        text-decoration: none
        outline: none

      i
        color: $white
        transition: text-shadow 0.3s linear

        &:hover
          text-shadow: 0 0 20px rgba(white, 0.8)

      &:active, .menu-button.active-button
        i
          color: $white
          text-shadow: 0 0 20px rgba(white, 0.8)

    li.back-item
      float: left

    li.menu-item
      margin-right: 20px

    li.user-item
      margin-right: 10px
      cursor: default

      i.online
        text-shadow: 0 0 15px rgba($lightgreen, 0.5)
        color: $lightgreen

/* NAVIGATION */

[role='navigation']
  ul
    margin-top: 20px
    padding: 0

    li
      padding-left: 20px
      width: 100%
      height: 34px
      line-height: 32px
      border-bottom: 1px solid rgb(174, 174, 174)
      transition: background 0.3s linear

      a
        display: block
        width: 100%
        height: 100%
        text-decoration: none
        color: rgb(51, 51, 51)
        transition: color 0.3s linear

      i
        margin-right: 20px
        vertical-align: middle
        font-size: 1.4em
        color: rgb(51, 51, 51)
        transition: color 0.3s linear

        &:hover
          color: rgb(102, 102, 102)

      &:hover
        background: url('noise.png') repeat

        a, i
          color: rgb(112, 175, 61)

      &:active
        a, i
          color: rgb(112, 175, 61)

/* BUTTONS */

.btn
  display: inline-block
  margin: 10px 0
  padding: 5px 15px
  border: 1px solid
  text-decoration: none
  cursor: pointer
  outline: none
  background-clip: padding-box
  font-size: 0.8em
  border-radius: 2px
  text-shadow: 0 -1px 0 rgba(black, 0.3)
  color: white

  border-color: rgba(20, 120, 0, 0.5)
  border-bottom-color: rgba(20, 120, 0, 0.7)
  background-color: rgb(130, 210, 0)
  @include linear-gradient(rgb(130, 210, 0), rgb(110, 190, 0))
  box-shadow: 0 1px 0 rgba(white, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2)

  &:hover, &:focus, &:active
    @include linear-gradient(rgba(white, 0.5), rgb(130, 210, 0) 50%, rgb(110, 190, 0))

  &:active
    box-shadow: 0px 1px 6px -1px rgba(black, 0.5) inset
    border-color: rgb(100, 150, 100)
    @include linear-gradient(rgb(90, 170, 0), rgb(110, 190, 0))

.btn:not(#toggle-social)
  white-space: nowrap

.btn#toggle-social, .social-button
  display: block
  margin: 0

.btn.btn-danger
  color: white
  border-color: rgb(180, 60, 60)
  border-bottom-color: rgb(160, 50, 50)
  color: white

  background-color: rgb(220, 100, 90)
  @include linear-gradient(rgb(220, 100, 90), rgb(180, 50, 50))

  &:hover, &:focus, &:active
    @include linear-gradient(rgba(white, 0.5), rgb(220, 100, 90), rgb(180, 50, 50))

  &:active
    box-shadow: 0 1px 6px -1px rgba(black, 0.3) inset
    border-color: rgb(150, 100, 100)
    @include linear-gradient(rgb(180, 50, 50), rgb(220, 100, 90))

.btn.btn-title
  position: absolute
  top: 8px
  margin: 0
  padding: 4px 10px
  box-shadow: 0 1px 0 rgba(white, 0.4)
  font-size: 1em

  border-color: rgba(50, 100, 50, 0.3)
  @include linear-gradient(rgb(170, 255, 50), rgb(130, 210, 0))

  &:visited
    color: white

  &:hover, &:focus, &:active
    @include linear-gradient(rgba(white, 0.5), rgb(170, 255, 50) 40%, rgb(130, 210, 0))

  &:active
    @include linear-gradient(rgb(150, 235, 30), rgb(110, 190, 0))
    border-top-color: rgb(110, 190, 0)

  &.right
    right: 10px

  &.left
    left: 10px

  &#new-inspiration
    right: 10px

/* FORMS */

form
  .control-label:not([for="user_remember_me"])
    display: none

.form_with_labels
  .control-label
    display: block !important
    font-size: 11px

    abbr
      display: none
