@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400')
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz')
@import 'compass'
@import 'colors.css.sass'

/* GENERAL */

body
  margin: 0
  background: $white
  font-family: 'Open Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif
  -webkit-font-smoothing: antialiased

i[class^='icon-']
  cursor: default

a
  @include hover-link
  i[class^='icon-']
    cursor: pointer

a.btn
  text-decoration: none

.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: ' '
  clear: both
  height: 0

input.styled_input, textarea.styled_input
  width: 100%
  margin: 5px 0px
  padding: 10px
  border-radius: 2px
  border: none
  box-shadow: 0px -1px 1px rgba($darkgrey, 0.5)
  font-family: 'Open Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif
  font-size: 12px

input.styled_input
  height: 20px

textarea.styled_input
  height: 120px
  resize: none

.noty_message
  a
    color: inherit
    text-decoration: none
    border-bottom: 1px dotted rgb(130, 98, 0)

    &:hover
      color: rgb(77, 62, 15)
      border-bottom: 1px dotted rgb(77, 62, 15)

/* LAYOUT */

#top-bar
  position: fixed
  width: 100%
  height: 40px
  border-top: 2px solid $lightgreen
  box-shadow: 0px -2px 6px 0px $darkgrey
  z-index: 11000
  background: image-url('carbon.png') repeat

  #logo
    font-family: 'Yanone Kaffeesatz', 'sans-serif'
    font-size: 20px
    color: $lightgreen
    position: absolute
    z-index: 2
    top: 8px
    left: 15px
    width: 100px
    transition: text-shadow 0.3s linear

    &:hover
      text-shadow: 0px 0px 15px rgba($lightgreen, 0.8)

    a
      color: $lightgreen
      text-decoration: none

#main
  position: absolute
  top: 42px
  width: 100%
  overflow: hidden
  background: linear-gradient(#F0F0F0, #FEFEFE)

  #main-content
    margin: 15px 10%

.loading-overlay
  display: block
  position: absolute
  z-index: 10000
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .75)

#loading-spinner
  position: absolute
  background: url('loading-spinner.gif') no-repeat
  z-index: 11000
  display: none
  width: 48px
  height: 48px
  top: 50%
  left: 50%
  margin-top: -32px
  margin-left: -32px

/* OFF CANVAS */

[role='main']:before, [role='main']:after
  content: ' '
  position: absolute
  top: 0
  left: -100%
  z-index: -1
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .2)

[role='main']:after
  left: 100%
  background: rgba(0, 0, 0, .1)

[role='main'], [role='navigation']
  position: relative
  display: block
  width: 100%
  transition: 1s margin ease

.js [role='main']
  position: relative
  z-index: 1
  float: left
  margin-left: 0
  box-shadow: 0 -2px 6px 2px rgb(165, 165, 165)

[role='navigation']
  display: none

.js [role='navigation']
  display: block
  z-index: 2
  float: left
  margin-right: -200%

.no-js
  .off-canvas-navigation
    li.back-item
      display: block

.active-sidebar [role='main']
  margin-left: -75%

.active-sidebar [role='navigation']
  margin-left: 0
  width: 75%

.off-canvas-navigation
  position: absolute
  top: 4px
  z-index: 1
  display: block
  width: 100%
  overflow: hidden
  color: rgb(255, 255, 255)

  ul
    margin: 0
    padding: 0
    list-style: none

    li
      float: right
      padding: 5px

      a
        text-decoration: none
        outline: none

      i
        color: $white
        transition: text-shadow 0.3s linear

        &:hover
          text-shadow: 0px 0px 20px rgba(white, 0.8)

      &:active, .menu-button.active-button
        i
          color: $white
          text-shadow: 0px 0px 20px rgba(white, 0.8)

    li.back-item
      float: left
      margin-left: 20px

    li.menu-item
      margin-right: 20px

    li.user-item
      margin-right: 10px
      cursor: default

      i.online
        text-shadow: 0px 0px 15px rgba($lightgreen, 0.5)
        color: $lightgreen

/* NAVIGATION */

[role='navigation']
  ul
    margin-top: 20px
    padding: 0
    list-style: none

    li
      padding-left: 20px
      width: 100%
      height: 34px
      line-height: 32px
      border-bottom: 1px solid rgb(174, 174, 174)
      transition: background 0.3s linear

      a
        display: block
        width: 100%
        height: 100%
        text-decoration: none
        color: rgb(51, 51, 51)
        transition: color 0.3s linear

      i
        margin-right: 20px
        vertical-align: middle
        font-size: 1.4em
        color: rgb(51, 51, 51)
        transition: color 0.3s linear

        &:hover
          color: rgb(102, 102, 102)

      &:hover
        background: rgb(250, 250, 250)

        a, i
          color: rgb(112, 175, 61)

      &:active
        a, i
          color: rgb(112, 175, 61)

/* BUTTONS */

.btn
  margin: 0
  padding: 5px 15px
  border: 1px solid rgb(212, 212, 212)
  text-shadow: 0px 1px 0 rgb(255, 255, 255)
  color: rgb(51, 51, 51)
  text-decoration: none
  cursor: pointer
  outline: none
  background-color: rgb(236, 236, 236)
  background-image: linear-gradient(rgb(244, 244, 244), rgb(236, 236, 236))
  background-clip: padding-box
  font-size: 0.8em
  border-radius: 2px

  &:hover, &:focus, &:active
    border-color: rgba(21, 127, 0, 0.5)
    border-bottom-color: rgba(21, 127, 0, 0.7)
    text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.3)
    color: $white
    background-color: $Blightgreen
    @include background-image(linear-gradient(top, $Blightgreen, $Bdarkgreen))

  &:active
    border-color: rgba(21, 127, 0, 0.5)
    border-bottom-color: rgba(21, 127, 0, 0.7)
    background-color: rgb(130, 217, 0)
    @include background-image(linear-gradient(top, $Hlightgreen, $Hdarkgreen))

.btn:not(#toggle-social)
  white-space: nowrap

.btn.btn-danger
  color: rgb(153, 0, 0)

  &:hover, &:focus, &:active
    border-color: rgb(181, 63, 58)
    border-bottom-color: rgb(160, 48, 42)
    color: rgb(255, 255, 255)
    background-color: rgb(220, 95, 89)
    background-image: linear-gradient(rgb(220, 95, 89), rgb(179, 54, 48))

  &:active
    border-color: rgb(160, 48, 42)
    border-bottom-color: rgb(191, 72, 67)
    background-color: rgb(179, 54, 48)
    background-image: linear-gradient(rgb(179, 54, 48), rgb(220, 95, 89))

/* FORMS */

form
  .control-label:not([for="user_remember_me"])
    display: none

.form_with_labels
  .control-label
    display: block !important
    font-size: 11px

    abbr
      display: none
