// Imports
// ---------------------------------------------------------------------------

@import "compass";
@import "compass/utilities";
@import "compass/css3";
@import "globals";

/* Landing Page */
/* -------------------------------------------------------------------------*/

body {
	height: 100%;
	@include filter-gradient($lightgreen, $darkgreen, vertical);
	@include background(image-url('texture.png') 0 0 repeat);
}

.gradient {
	position: absolute;
	width: 100%;
	min-height: 100%;
	@include background(linear-gradient(top, rgba(lightblue, 0.3) 0%, rgba($darkblue, 0.7) 100%));
}

.logo {
	@include filter-gradient($lightgreen, $darkgreen, vertical);
	@include background(
		image-url('logo.png') no-repeat center,
		radial-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 75%)
	);
	height: 300px;
	max-width: 300px;
	margin: 0 auto;
	background-size: contain;
}

.login {
	width: 300px;
	margin: 0 auto;

	i.icon-user {
		margin-top: 12px;
	}

	i.icon-key {
		margin-top: 20px;
		@include border-radius(4px);
	}

	#login-button {
		width: 260px;
		height: 40px;
		margin-top: 10px;
		float: right;
	}
}

i {
	font-size: 25px;
	float: left;
	color: #333;
	@include embossed-typo;
}