div.tagsinput
  background: rgb(255, 255, 255)
  width: 100%
  margin: 5px 0
  padding: 8px 10px
  border-radius: 2px
  border: none
  box-shadow: 0 -1px 1px rgba(32, 34, 34, 0.5)
  overflow-y: auto
  font-family: 'Open Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif
  font-size: 12px

  span.tag
    border: 1px solid rgb(165, 210, 74)
    border-radius: 2px
    display: block
    float: left
    padding: 4px
    text-decoration: none
    background: rgb(205, 230, 156)
    color: rgb(99, 132, 33)
    margin-right: 5px
    margin-bottom: 5px

    a
      font-weight: bold
      color: rgb(130, 173, 43)
      text-decoration: none

  input
    width: 80px
    height: 14px
    margin: 0
    border: 1px solid transparent
    padding: 5px
    background: transparent
    font-family: inherit
    font-size: inherit
    outline: 0
    margin-right: 5px
    margin-bottom: 5px

  div
    display: block
    float: left
    margin-top: -1px
    margin-left: -6px

.tags_clear
  clear: both
  width: 100%
  height: 0

.not_valid
  background: rgb(251, 216, 219) !important
  color: rgb(144, 17, 26) !important

#tagcloud
  margin: 1em 0
  padding: .5em 10px
  text-align: center

  li
    margin: 0 10px
    padding: 0
    list-style: none
    display: inline
    line-height: 250%
