%p= t('devise.mail.confirmation.welcome', user: @resource.display_name)

%p= t('devise.mail.confirmation.intro')

%p= link_to confirmation_url(@resource, confirmation_token: @resource.confirmation_token), confirmation_url(@resource, confirmation_token: @resource.confirmation_token)
