%p= t('devise.mail.welcome', user: @resource.display_name)

%p= t('devise.mail.intro')

%p= link_to edit_password_url(@resource, reset_password_token: @resource.reset_password_token) ,edit_password_url(@resource, reset_password_token: @resource.reset_password_token)

%p= t('devise.mail.outro')
