= link_to activity_link(activity.trackable_type, activity.trackable_id) do
  %article.activity.clearfix
    .text
      = ActivityPresenter.new(activity, self).render_activity
      .icon-chevron-right
